@model FilmDatabaseApp.Models.Director

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Director</h4>
    <hr />
    <div class="panel panel-default animated fadeInDown">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
        </div>
        <div class="panel-body">
            <a href="@Url.Action("Edit", "Directors", new { id = Model.DirectorID })" class="btn glyph">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Index", "Directors")" class="btn glyph">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </div>
    </div>
</div>