@{
    ViewBag.Title = "Home Page";
}

<div class="row pagetitle">
    <h1>Film Database.</h1>

</div>

<div class="row image-gallery animated bounceIn">
    <div class="col">
        <ul>
            <li><img src="~/Content/Images/oldcountryforoldmenresize.jpg"></li>
            <li><img src="~/Content/Images/psycho.png"></li>
            <li><img src="~/Content/Images/darkknightrises.png"></li>
            <li><img src="~/Content/Images/dodgeball.jpg"></li>
            <li><img src="~/Content/Images/blackpanther.png"></li>
            <li><img src="~/Content/Images/kingsspeech.jpg"></li>

        </ul>
    </div>
</div>

<div class="row index">
    <div class="col-md-4 links col">
        <p><a class="animated fadeInDown" href="Movies/Index">Movies</a></p>
    </div>
    <div class="col-md-4 links col">
        <p><a class="animated fadeInDown" href="~/Directors/Index">Directors</a></p>
    </div>
    <div class="col-md-4 links col">
        <p><a class="animated fadeInDown" href="~/Genres/Index">Genres</a></p>
    </div>
</div>