body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #39414f;
    color: #cce1e8;
    font-family: 'Oswald';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.row.index{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
    }
div.col.links {
    /*display: inline-block;*/
     
    width: 140px;
    height: 140px;
    padding: 10px;
    border: 1px solid #ddd;
    background-size: cover;
    background-clip: content-box;
    background-color: #a4ef7c;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 40px;
    top: 30px;
    font: 400 2em/180px 'Oswald', sans-serif;
    color: #fbfbfb;
    text-indent: 12px;
}

    div.col.links:after {
        content: "";
        display: block;
        position: absolute;
        border: 50px solid transparent;
        border-bottom: 50px solid #39414f;
        bottom: -60px;
        right: -65px;
        box-shadow: 0px 7px 6px -9px black;
        transform: rotate(135deg);
    }

    div.col.links:before {
        content: "";
        display: block;
        position: absolute;
        border: 50px solid transparent;
        border-top: 50px solid #39414f;
        top: -60px;
        left: -65px;
        box-shadow: 0px -7px 6px -9px black;
        transform: rotate(135deg);
    }

div.row.image-gallery {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}

ul {
    list-style-type: none;
}

li img {
    -webkit-filter: sepia(.7);
    filter: sepia(.7);
    float: left;
    margin: 10px;
    border: 5px solid #fff;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}

li img:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Oswald';
    font-size: 30px;
    color: #a4ef7c;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #eff9d1;
    animation: bounce 1s infinite;
}

a {
    color: aliceblue;
}
a:hover {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #6b7984;
    border: 0px;
}

button.navbar-toggle {
    background-color: #6b7984;
}

.navbar-inverse .navbar-brand {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #cce1e8 !important;
}

div.thumbnail {
    background-color: #a4ef7c;
}

h2 {
    color: #e1f765;
}

h3 {
    color: #382915;
}
.panel-body {
    color: #382915;
    background-color:#a4ef7c;
}

div.row.pagetitle {
    text-align: right;
    color: #e1f765;
}
h1 {
    letter-spacing: 6px;
    font-size: 60px;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

div.row.movies-index {
    animation: fadeInDown 2s ease-in;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation: fadeInDown 2s ease-in;
}
@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.btn.glyph {
    color: #382915;
}

.btn.glyph:hover {
    color: #f4e5d0;
}
.btn.glyph-details {
    color: #e1f765;
}

    .btn.glyph:hover {
        color: #f4e5d0;
    }
.btn.btn-default {
    color: #382915;
    background-color: #e1f765;
}
.btn.btn-default:hover {
    background-color: #efefce;
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}